#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem;
    gap: 3rem;

}

#about h2{
    color: lightblue;
}

#about p{
    color: white;
    font-size: x-large;
}

@media screen and (min-width: 768px) {
    #about{
        padding: 3rem 5rem;
        gap: 3rem;
        width: 60%;
    }
}