@keyframes slideInFromRight {
    0% {
      transform: translateX(+30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity:100%;
    }
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-30px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity:100%;
    }
}

@keyframes slideInFromBot {
    0% {
      transform: translateY(+30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity:100%;
    }
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity:100%;
    }
}


#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#home>img{
    height: 50vw;
    object-fit:cover;
    border-radius: 50%;
    border: 5px solid #42C2FF;
    animation: 1.5s ease-out 0s 1 slideInFromTop;
}

#home h1{
    color: white;
    margin-top: 0;
    font-size: 12vw;
    animation: 1.5s ease-out 0s 1 slideInFromRight;
}

#home p{
    font-size: 8vw;
    color: #42C2FF;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

#home .contacts{
    animation: 1.5s ease-out 0s 1 slideInFromBot;
}

@media screen and (min-width: 480px) {
    #home{
        gap:1.5em
    }
    #home>img{
       max-height: 250px; 
    }
    #home h1{
        font-size: 9vw;
    }
    #home p{
        font-size: 6vw;
    }
}

@media screen and (min-width: 1000px) {
    #home {
     flex-direction: row;
    }

    #home>img{
        max-height: 25vw;
        animation: 1.5s ease-out 0s 1 slideInFromLeft;
    }

    #home h1{
        font-size: 6vw;
        animation: 1.5s ease-out 0s 1 slideInFromTop;
    }

    #home p{
        font-size: 4vw;
        animation: 1.4s ease-out 0s 1 slideInFromRight;
    }
}
