
.Navbar {
    background-color: #42C2FF;
    position: fixed;
    top:0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    z-index: 1;
}

.navItem{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    width: 33%;
    transition: all 0.3s;
}

.Navbar :first-child{
    font-size: 2rem;
    font-weight: bold;
}

.navItem:hover{
    color: #0C356A;
    transform: scale(1.1);
}