.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0C356A;
}

h1{
  color: white;
}

#home, #projects{
  min-height: 100vh;
}

hr{
  width:80%;
  border: 1px solid #42C2FF;
}