.Contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.Contacts a{
    color: #B8FFF9;
    font-size: 2rem;
    text-decoration: none;
}

.Contacts a:hover{
    color: #42C2FF;
}